@media only screen and (max-width: 600px)  {
    main {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        min-height: 72vh;
    }

    .logoImage{
        position: absolute;
        width: 100px;
        height: 100px;
        left: 87%;
        top: 23px;
    }

    .titleWebpage {
        font-size: 3rem;
    }

    .btnBar {
        height: 4vh;
    }

    .manual-btn{
        border: 2px solid #012B99;
        padding: 10px;
        border-radius: 15px;
        margin: 5px;
        cursor: pointer;
        transition: 1s;
    }

    .container_welcomMessage{
        margin-top: 13rem;
    }

    #filterSlider {
        font-size: 1.5rem;
    }
    
    #sortArrow{
        font-size: 1.5rem;
    }

    .filmContainer{
        max-width: 15rem;
        max-height: 20rem;
        display: flex;  
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    .filmPoster{
        max-width: 15rem;
        max-height: 15rem;
        text-align: center;  
    }

    .filmTitle{
        font-size: 1.2rem;
    }

    .filmInformation{
        font-size: 1.2rem;
    }

    .footer {
        padding: 1rem 10vw;
        height: 6rem;
    }

    .nav-menu.active {
        left: 0;
        margin-top: 10%;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(16px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}